@import 'main';

.container {
  background-image: url(../img/Rectangle\ 35.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  @include flex-box(center, center);


  .wrap {
    width: 90%;
    @include flex-box(space-evenly, center);
    margin: 0 auto;
    gap: 10px;

    .form-info {
      width: 50%;
      background-color: rgba($color: #000000, $alpha: .4);
      padding: 15px;
      height: 300px;
      border-radius: 20px;
      color: $light-color;

      h2 {
        @include font-head(4rem, 600);
      }

      h6 {
        @include font-body(1.5rem, 600);
      }

      h3 {
        @include font-body(2rem, 700);
      }

      p {
        @include font-body(1rem, 400);
        margin-bottom: 10px;
      }

      a {
        text-decoration: none;
      }

      button {
        border: none
      }

      .buy-btn {
        @extend %hover-danger-bg;
        @include font-body(.8rem, 400);
        padding: 8px 15px;
        border-radius: 5px;
        color: $light-color;
      }

      .back-btn {
        @extend %hover-outline-bg;
        @include font-body(.8rem, 400);
        padding: 6px 15px;
        border-radius: 5px;
        color: $secondary-color;
      }
    }

    .img {
      width: 400px;
      padding: 8px;
      border: 2px solid $secondary-color;
      border-radius: 12px;
      transition: all ease-in-out .3s;
      box-shadow: 0 0 10px rgba($color: $secondary-color, $alpha: .5);

      &:hover {
        scale: (1.1);
        transition: all ease-in-out .3s;
      }

      img {
        width: 100%;
        border-radius: 12px;
      }
    }
  }

  .purchase-popUp {
    background-color: rgba($color: #000000, $alpha: .8);
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;

    .cards {
      @include flex-box(center, center);
      width: 100%;
      height: 100%;
    }

    .card {
      padding: 15px;
      background-color: rgba($color: $primary-color, $alpha: .8);
      border-radius: 12px;
      width: 50%;

      .img-detail {
        @include flex-box(center);
      }

      .info-detail {

        h2 {
          @include font-body(1rem, 500);
        }

        h3 {
          @include font-body(1.2rem, 800);
        }

        p {
          @include font-body(1rem, 500);
        }

        ul {
          list-style: none;
          margin-bottom: 5px;

          li {
            @include font-body(.9rem, 500);
          }
        }

        .buy-btn {
          @extend %hover-danger-bg;
          @include font-body(.8rem, 500);
          padding: 4px 10px;
          border-radius: 6px;
          color: $light-color;
          text-decoration: none;
          border: none
        }

        .back-btn {
          @extend %hover-outline-bg;
          @include font-body(.8rem, 500);
          padding: 4px 10px;
          border-radius: 6px;
          color: $light-color;
          text-decoration: none;
          background-color: transparent;
        }
      }
    }
  }
}